.page {
  display: flex;
  height: 100%;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $page-margin;

      &.has-sidebar {
        padding-right: $page-margin / 2;
      }

      .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 8rem;
        width: $card-width;

        .logo {
          width: $card-width;
        }
      }
    }

    .content {
      overflow: hidden;
    }
  }

  .sidebar {
    height: 100%;
    padding-right: $page-margin / 2;
  }
}
