.button {
  position: relative;
  padding: $margin-large $margin-large * 1.5;
  border-radius: 9999px;
  border-width: 0px;
  cursor: pointer;
  white-space: nowrap;
  font-size: $h4;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &.grow {
    width: 100%;
  }

  &.pop-in {
    @include pop-in;
  }

  &.primary {
    background-color: $primary;
    color: $text-light;

    &:hover {
      background-color: darken($primary, 10%);
    }

    &:active {
      background-color: darken($primary, 20%);
    }
  }

  &.large {
    padding: $margin-large $margin-large * 1.5;
    font-size: $h1;
  }

  &.bold {
    font-weight: bold;
  }

  &.has-image {
    padding-left: 2.2em;

    .img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
  }
}
