@import './shared.scss';

.captured-pokemon-grid {
  @include pop-in;

  padding: $page-margin;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  row-gap: $page-margin;
  height: 100%;
  overflow: auto;

  .header, .row {
    display: grid;
    grid-column: 1 / 6;
    grid-template-columns: subgrid;

    .pokemon {
      grid-column: 1;
    }

    .nickname {
      grid-column: 2;
    }

    .captured-date {
      grid-column: 3;
    }

    .captured-level {
      display: flex;
      justify-content: center;
      grid-column: 4;
    }
  
    .release-button {
      grid-column: 5;
    }
  }

  .header {
    position: sticky;
    top: 0;

    background-color: $light-gray;
    border-radius: $border-radius;

    > * {
      padding: $margin-large $margin-x-large;
      text-transform: uppercase;
      font-size: $h3;
    }
  }

  .row {
    &:last-child {
      padding-bottom: $page-margin;
    }

    .pokemon {
      display: flex;
      align-items: center;

      .image-background {
        @include type-background-colors;

        display: flex;
        justify-content: center;
        padding: $margin;
        background-color: $light-gray;
        border-radius: $border-radius;

        .image {
          width: $card-width / 3;
          height: $card-width / 3
        }
      }

      .details {
        padding: $margin-x-large;

        .name {
          font-size: $h3;
          font-weight: bold;
          white-space: nowrap;
        }

        .types {
          display: flex;
          margin-top: $margin-small;
          font-size: $h4;

          .type {
            color: $medium-gray;

            &:not(:first-child) {
              &:before {
                content: '·';
                margin: 0 $margin-small;
              }
            }
          }
        }
      }
    }

    .nickname, .captured-date, .captured-level, .release-button{
      display: flex;
      align-items: center;
      padding: $margin-large $margin-x-large;
      font-size: $h3;
    }

    .nickname {
      &.none {
        color: $light-gray;
      }
    }
  }
}
