@import './shared.scss';

.pokemon-card {
  @include pop-in;

  border-radius: $border-radius;
  width: $card-width;
  box-shadow: 0 4px 20px 0px $light-gray;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }

  .image-background {
    @include type-background-colors;

    display: flex;
    justify-content: center;
    width: 100%;
    padding: $margin;
    background-color: $light-gray;

    .image {
      width: $card-width / 2;
      height: $card-width / 2;
    }
  }

  .details {
    padding: $margin;

    .name {
      font-size: $h2;
      font-weight: bold;
    }

    .types {
      display: flex;
      margin-top: $margin-small;
      font-size: $h3;

      .type {
        color: $medium-gray;

        &:not(:first-child) {
          &:before {
            content: '·';
            margin: 0 $margin-small;
          }
        }
      }
    }
  }
}
