@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokeball-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $card-width / 2;
  min-height: $card-width / 2;
  width: $card-width;

  &.grow {
    width: 100%;
  }

  .pokeball {
    width: $card-width / 2;
    height: $card-width / 2;
    animation: spin 1.5s infinite linear;

    &.hide {
      transition: width $animation-delay ease-out, height $animation-delay ease-out;
      width: 0;
      height: 0;
    }
  }
}
