.pokemon-capture-form {
  background-color: $background;
  border-radius: $border-radius;
  padding: $margin-x-large;

  > *:not(:first-child) {
    margin-top: $margin-large;
  }

  .title {
    font-size: $h2;
    font-weight: bold;
    white-space: nowrap;
  }

  .fields {
    > *:not(:first-child) {
      margin-top: $margin;
    }
  }
}
