@import './shared.scss';

.pokemon-info-card {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius * 2;
  width: $card-width;
  overflow: hidden;
  box-shadow: 0 4px 20px -5px $medium-gray;
  max-height: 100%;

  &.square-corners-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-background {
    @include type-background-colors;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $page-margin;
    background-color: $light-gray;

    .image {
      width: $card-width / 2;
      height: $card-width / 2;
    }

    .name {
      margin-top: $margin;
      font-size: $h3;
      font-weight: bold;
      color: $text-light;
    }
  }

  .details {
    padding: $margin;
    overflow: auto;

    .card {
      border-radius: $border-radius / 2;
      margin-top: $margin-x-large;
      margin: $margin-x-large $margin 0 $margin;
      padding: $margin;
      box-shadow: 0 4px 10px 0px $light-gray;

      &:last-child {
        margin-bottom: $margin-x-large;
      }

      .title {
        font-weight: bold;
      }

      .row {
        display: flex;
        margin-top: $margin-small;
        font-size: $h6;

        .label {
          &:after {
            content: ':';
          }
        }

        .values {
          display: flex;
          margin-left: $margin-small;

          .value {
            &:not(:first-child) {
              &:before {
                content: '·';
                margin: 0 $margin-small;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding: $margin-x-large;
  }
}
