$lighten-background: 15%;
@mixin type-background-colors {
  &.rock {
    background-color: lighten(#bbaa66, $lighten-background);
  }

  &.ghost {
    background-color: lighten(#6666ba, $lighten-background);
  }

  &.steel {
    background-color: lighten(#aaaabb, $lighten-background);
  }

  &.water {
    background-color: lighten(#3399fe, $lighten-background);
  }

  &.grass {
    background-color: lighten(#76cc55, $lighten-background);
  }

  &.psychic {
    background-color: lighten(#ff5599, $lighten-background);
  }

  &.ice {
    background-color: lighten(#65ccff, $lighten-background);
  }

  &.dark {
    background-color: lighten(#775444, $lighten-background);
  }

  &.fairy {
    background-color: lighten(#ee99ee, $lighten-background);
  }

  &.normal {
    background-color: lighten(#aaaa9b, $lighten-background);
  }

  &.fighting {
    background-color: lighten(#ba5544, $lighten-background);
  }

  &.flying {
    background-color: lighten(#8799ff, $lighten-background);
  }

  &.poison {
    background-color: lighten(#aa5599, $lighten-background);
  }

  &.ground {
    background-color: lighten(#ddbb54, $lighten-background);
  }

  &.bug {
    background-color: lighten(#a9bb22, $lighten-background);
  }

  &.fire {
    background-color: lighten(#eb5435, $lighten-background);
  }

  &.electric {
    background-color: lighten(#ffcc33, $lighten-background);
  }

  &.dragon {
    background-color: lighten(#6666ba, $lighten-background);
  }
}
