$margin-small: 5px;
$margin: 10px;
$margin-large: 15px;
$margin-x-large: 20px;
$page-margin: 40px;
$card-width: 20rem;
$border-radius: 1rem;

$h0: 2.5rem;
$h1: 2rem;
$h2: 1.6rem;
$h3: 1.3rem;
$h4: 1.1rem;
$h5: 1rem;
$h6: 0.9rem;

$pokemon-red: #eb5435;
$black: #000000;
$white: #ffffff;
$light-gray: #e0e0e0;
$medium-gray: #828282;
$dark-gray: #333333;

$background: #fafafa;
$text-dark: $black;
$text-light: $white;
$negative: #ffcccb;
$primary: $pokemon-red;

$animation-delay: 1s;

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin pop-in {
  animation: pop-in 0.5s;
}
