.text-input {
  display: block;
  padding: $margin;
  font-size: $h4;
  border-radius: $border-radius / 3;
  border: 1px solid $dark-gray;
  background-color: $background;

  &.grow {
    width: 100%;
  }

  &.error {
    background-color: $negative;

    &:focus {
      background-color: $background;
    }
  }
}
